.the-team {
  &__grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 82px;

    @media screen and (max-width: 768px) {
      & {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
