.footer {
  &__grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }

  &__copyright {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: flex-end;
  }

  &__form {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media screen and (min-width: 678px) {
    &__copyright {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      align-self: flex-end;
    }

    &__form {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }
}

.rrss {
  &__text {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
