.banner {
  background-image: url("../../img/banner/banner-mob.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  height: 420px;
  position: relative;
  z-index: 10;

  &__title {
    font-size: 30px;
    font-family: "AvenirBlack";
  }

  @media (min-width: 768px) {
    height: 500px;

    &__title {
      font-size: 56px;
      margin: 50px 0 41px 0;
      font-weight: 900;
    }
  }

  @media (min-width: 1080px) {
    background-image: url("../../img/banner/banner-dek.svg");
    height: 660px;
  }
}
