.team-card {
  background-color: map-get($map: $colors, $key: oc-light-green);
  border-radius: 21px;
  padding: 14px 21px;
  display: flex;
  flex-direction: column;

  &__name {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family: "AvenirHeavy";
    margin-top: 16px;
    padding: 10px 14px;

    img {
      max-width: 66px;
    }
  }

  &__profession {
    font-family: "AvenirHeavy";
  }

  &__content {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 14px;
    margin-top: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
  }

  &__social {
    margin-right: 6px;
    text-decoration: underline;
  }

  &__icon {
    font-family: "WorkSans";
    display: inline;
  }

  &:last-child {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
