.quantity-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 10px 8px;
  border: none;

  &__image {
    width: 35px;
  }

  &__title {
    font-size: 12px;
    line-height: 1em;
    white-space: nowrap;
  }

  &__number {
    font-size: 20px;
    font-family: "AvenirHeavy";
    color: map-get($map: $colors, $key: oc-red);
  }

  &__update {
    font-size: 14px;
    color: darken($color: map-get($colors, oc-white), $amount: 50);
    line-height: 1em;
  }

  p {
    margin-bottom: 0px;
  }

  @media screen and (min-width: 768px) {
    &__title {
      font-size: 12px;
      line-height: 1em;
    }

    &__number {
      font-size: 20px;
      font-family: "AvenirHeavy";
      color: map-get($map: $colors, $key: oc-red);
    }

    &__update {
      font-size: 14px;
      color: darken($color: map-get($colors, oc-white), $amount: 50);
      line-height: 1em;
    }

    p {
      margin-bottom: 0px;
    }

    @media screen and (min-width: 768px) {
      &__title {
        font-size: 20px;
        white-space: nowrap;
      }

      &__number {
        font-size: 28px;
      }
    }
  }

  @media screen and (min-width: 1080px) {
    &__number {
      font-size: 30px;
    }
  }

  @media screen and (min-width: 1280px) {
    &__number {
      font-size: 36px;
    }
  }
}

.quantity-good {
  color: map-get($map: $colors, $key: oc-light-green);
}
