.searchregion-form {
  margin-right: auto;
  margin-left: auto;
  max-width: max-content;

  &__submit {
    background-image: url(../../img/pandemiaState/glass.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  input[type="submit"] {
    background-color: map-get($map: $colors, $key: oc-light-green);
  }

  input {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
