*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

span {
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
div {
  font-family: Avenir;
}

nav,
ul,
li {
  margin: 0;
  padding: 0;
  margin-bottom: 0px;
}

li {
  list-style: none;
}

textarea:focus,
input:focus {
  outline: none;
}
